<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
  <div class="widget-container fluid-height clearfix">
    <div class="heading">
      <i class="fa fa-sign-in"></i>
      Cadastro
    </div>
    <div class="widget-content padded text-center">
      <div class="login-wrapper col-sm-offset-1 col-sm-10">
        <form method="POST">

          <div class="form-group" v-class="has-error: nomeInvalid,
                                          animated: nomeInvalid,
                                          shake: nomeInvalid">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text"
                     v-model="nome"
                     v-on="blur: validaNome"
                     class="form-control"
                     placeholder="Digite o seu nome">
            </div>
          </div>

          <div class="form-group" v-class="has-error: sobrenomeInvalid,
                                          animated: sobrenomeInvalid,
                                          shake: sobrenomeInvalid">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user-secret"></i></span>
              <input type="text"
                     v-model="sobrenome"
                     v-on="blur: validaSobrenome"
                     class="form-control"
                     placeholder="Digite o seu sobrenome">
            </div>
          </div>

          <div class="form-group" v-class="has-error: emailInvalid,
                                          animated: emailInvalid,
                                          shake: emailInvalid">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email"
                     v-model="email"
                     name="email"
                     v-on="blur: validaEmail"
                     class="form-control"
                     placeholder="Digite o email">
            </div>
          </div>

          <div class="form-group" v-class="has-error: passwordInvalid,
                                          animated: passwordInvalid,
                                          shake: passwordInvalid">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password"
                     v-model="password"
                     v-on="blur: validaPassword"
                     class="form-control"
                     placeholder="Digite a senha (mínimo de 6 dígitos)">
            </div>
          </div>

          <div class="form-group" v-class="has-error: confirmationInvalid,
                                          animated: confirmationInvalid,
                                          shake: confirmationInvalid">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" v-model="password_confirmation" class="form-control" placeholder="Confirme a senha">
            </div>
          </div>

          <button v-class="disabled: loading" v-on="click: postRegister" class="btn btn-lg btn-primary btn-block ladda-button" data-style="zoom-in">
            <span class="ladda-label">
              Cadastrar
            </span>
          </button>
          <div class="alert alert-danger" style="margin-bottom:0" v-if="emailExists" role="alert">Este email já está cadastrado.</div>
        </form>
        <br>

          <div class="social-login clearfix">
            <a v-class="disabled: fbLoading" class="btn btn-primary facebook btn-block ladda-button" v-on="click: fbLogin" data-style="zoom-in">
              <span class="ladda-label">
                <i v-if="!fbLoading" class="fa fa-facebook"></i> Cadastro com o facebook
              </span>
            </a>
          </div>

          <hr>

          <p>
            Já tem uma conta?
          </p>

          <a v-link="{path: '/login'}" style="margin-bottom:20px;" class="btn btn-default-outline btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
