<!-- Statistics -->
<div class="row">
  <div class="col-sm-6 hidden-xs" style="padding:0;">
    <div class="widget-container cot-container">
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.USD.ticker}} {{cotacao.USD.preco}}
        </div>
        <div class="text" v-class="cotacao.USD.color">
          {{cotacao.USD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CAD.ticker}} {{cotacao.CAD.preco}}
        </div>
        <div class="text" v-class="cotacao.CAD.color">
          {{cotacao.CAD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.AUD.ticker}} {{cotacao.AUD.preco}}
        </div>
        <div class="text" v-class="cotacao.AUD.color">
          {{cotacao.AUD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           style="border-right:none;"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.EUR.ticker}} {{cotacao.EUR.preco}}
        </div>
        <div class="text" v-class="cotacao.EUR.color">
          {{cotacao.EUR.variacao}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 hidden-xs" style="padding:0;">
    <div class="widget-container cot-container">
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.GBP.ticker}} {{cotacao.GBP.preco}}
        </div>
        <div class="text" v-class="cotacao.GBP.color">
          {{cotacao.GBP.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CLP.ticker}} {{cotacao.CLP.preco}}
        </div>
        <div class="text" v-class="cotacao.CLP.color">
          {{cotacao.CLP.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.ARS.ticker}} {{cotacao.ARS.preco}}
        </div>
        <div class="text" v-class="cotacao.ARS.color">
          {{cotacao.ARS.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.MXN.ticker}} {{cotacao.MXN.preco}}
        </div>
        <div class="text" v-class="cotacao.MXN.color">
          {{cotacao.MXN.variacao}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Statistics -->
