<!-- Statistics -->
<div class="row">
  <div class="widget-container cot-container">
    <div class="col-lg-6" style="padding:0;">
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.USD.preco}}
        </div>
        <div class="text">
          {{cotacao.USD.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CAD.preco}}
        </div>
        <div class="text">
          {{cotacao.CAD.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.AUD.preco}}
        </div>
        <div class="text">
          {{cotacao.AUD.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           style="border-right:none;"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.EUR.preco}}
        </div>
        <div class="text">
          {{cotacao.EUR.variacao}}
        </div>
      </div>
    </div>
    <div class="col-lg-6" style="padding:0;">
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.GBP.preco}}
        </div>
        <div class="text">
          {{cotacao.GBP.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CLP.preco}}
        </div>
        <div class="text">
          {{cotacao.CLP.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.ARS.preco}}
        </div>
        <div class="text">
          {{cotacao.ARS.variacao}}
        </div>
      </div>
      <div class="col-md-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.MXN.preco}}
        </div>
        <div class="text">
          {{cotacao.MXN.variacao}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Statistics -->
