<!-- Statistics -->
<div class="row">
  <div class="col-xs-6" style="padding:0;">
    <div class="widget-container cot-container">
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.USD.preco}}
        </div>
        <div class="text" v-class="USDcolor">
          {{cotacao.USD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CAD.preco}}
        </div>
        <div class="text" v-class="CADcolor">
          {{cotacao.CAD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.AUD.preco}}
        </div>
        <div class="text" v-class="AUDcolor">
          {{cotacao.AUD.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           style="border-right:none;"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.EUR.preco}}
        </div>
        <div class="text" v-class="EURcolor">
          {{cotacao.EUR.variacao}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6" style="padding:0;">
    <div class="widget-container cot-container">
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.GBP.preco}}
        </div>
        <div class="text" v-class="GBPcolor">
          {{cotacao.GBP.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.CLP.preco}}
        </div>
        <div class="text" v-class="CLPcolor">
          {{cotacao.CLP.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.ARS.preco}}
        </div>
        <div class="text" v-class="ARScolor">
          {{cotacao.ARS.variacao}}
        </div>
      </div>
      <div class="col-sm-3"
           v-class="animated: animate, fadeIn: animate">
        <div class="number">
          {{cotacao.MXN.preco}}
        </div>
        <div class="text" v-class="MXNcolor">
          {{cotacao.MXN.variacao}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Statistics -->
