.friends-requests p, .friends-requested p{
  margin: 0.5em 1em;
}
.friends-requests button{
  margin: 1.5em 0;
}
.friends-requested button{
  margin: 0.5em 0;
}
.friends-requests div.row, .friends-requested div.row, .bids div.row{
  border-bottom: solid 1px #d1d1d1;
  padding: 1% 0;
}
.friends-requests div.row:last-child, .friends-requested div.row:last-child, .bids div.row:last-child{
  border-bottom: none;
  padding: 1% 0;
}
.bid .rates > div:nth-child(1) {
  border-right: solid 1px #d1d1d1;
}

.bid .rates > div:nth-child(3) {
  border-left: solid 1px #d1d1d1;
}
.bid .row+.row{
  margin-top: 5px;
}

.widget-container.chat-page, .widget-container.chat, .widget-container.friends-widget{
  height: 550px;
  overflow: hidden;
}

.widget-container.chat-page .contact-list.alone ul li a{
  width: 106%;
}
.widget-container.chat-page .contact-list.alone ul li a span{
  margin-right: 8px;
  background-color: green;
  top: 5px;
  position: relative;
}
.navbar .container-fluid.main-nav .nav-collapse .nav > li > a.v-link-active-exact{
  color: #007aff;
}

#map-new-bid{
  height:200px;
  width:100%;
}

.chat .post-message a{
  position: absolute;
  top: 12px;
  right: 20px;
  margin: 0;
  border: 0;
  background: transparent;
  color: #007aff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  #map-new-bid{
    height:480px;
    width:100%;
  }
}

.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    margin: 0;
    height: 113px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}
.fade-enter {
  animation: fadeIn .3s;
}
.fade-leave {
  animation: fadeOut .3s;
}
